{% extends 'base.html' %}

{% load l10n %}

{% load extras %}

{% block head %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'global.css' %}">
<script src="{% static 'all.js' %}"></script>


    {% block title %}
    <title>Knorr-Bremse: CovCap 2020 (edit action)</title>
    {% endblock %}


    <style type="text/css">
        .form-style-10{
            width:450px;
            padding:30px;
            margin:40px auto;
            background: #FFF;
            border-radius: 10px;
            -webkit-border-radius:10px;
            -moz-border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
            -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
            -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
        }
        .form-style-10 .inner-wrap{
            padding: 30px;
            background: #F8F8F8;
            border-radius: 6px;
            margin-bottom: 15px;
        }
        .form-style-10 h1{
            background: #004785;
            padding: 20px 30px 15px 30px;
            margin: -30px -30px 30px -30px;
            border-radius: 10px 10px 0 0;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
            font-family: Arial, Helvetica, sans-serif;
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            border: 1px solid #004785;
        }
        .form-style-10 h1 > span{
            display: block;
            margin-top: 2px;
            font: 13px Arial, Helvetica, sans-serif;
        }
        .form-style-10 label{
            display: block;
            font: 13px Arial, Helvetica, sans-serif;
            color: #004785;
            margin-bottom: 15px;
        }
        .form-style-10 input[type="text"],
        .form-style-10 input[type="date"],
        .form-style-10 input[type="datetime"],
        .form-style-10 input[type="email"],
        .form-style-10 input[type="number"],
        .form-style-10 input[type="search"],
        .form-style-10 input[type="time"],
        .form-style-10 input[type="url"],
        .form-style-10 input[type="password"],
        .form-style-10 textarea,
        .form-style-10 select {
            display: block;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            padding: 8px;
            border-radius: 6px;
            -webkit-border-radius:6px;
            -moz-border-radius:6px;
            border: 2px solid #fff;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
            -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
            -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
        }
        
        .form-style-10 .section{
            font: normal 20px Arial, Helvetica, serif;
            color: #004785;
            margin-bottom: 5px;
        }
        .form-style-10 .section span {
            background: #004785;
            padding: 5px 10px 5px 10px;
            position: absolute;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border: 4px solid #fff;
            font-size: 14px;
            margin-left: -45px;
            color: #fff;
            margin-top: -3px;
        }
        .form-style-10 input[type="button"], 
        .form-style-10 input[type="submit"]{
            background: #004785;
            padding: 8px 20px 8px 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            color: #fff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
            font: normal 30px Arial, Helvetica, serif;
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
            border: 1px solid #257C9E;
            font-size: 15px;
        }
        .form-style-10 input[type="button"]:hover, 
        .form-style-10 input[type="submit"]:hover{
            background: #2A6881;
            -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
            -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
            box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
        }
        .form-style-10 .privacy-policy{
            float: right;
            width: 250px;
            font: 12px Arial, Helvetica, sans-serif;
            color: #4D4D4D;
            margin-top: 10px;
            text-align: right;
        }
        </style>

{% endblock %}

{% block body %}

{% if messages %}
    {% for message in messages %}
        <div class="message" id="message">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if action.type == user.profile.department or user.profile.is_superuser %}
<div class="form-style-10" onload="calculateSums(savingsStart)">
    <h1>Edit action</h1>
    <form onsubmit="onetimeredits()" method="POST" id="covcap-form" name="covcap-form" onkeydown="return event.key != 'Enter';">{% csrf_token %}
        <div class="section"><span>1</span>Definition and responsibility<div>
        <div class="inner-wrap">
            <label>Name of action<input type="text" name="name" value="{{action.name}}" required/></label>
            <label>Responsible <input type="text" name="responsible" value="{{action.responsible}}" required></label>
            <label>Department
                <select id="department" name="type">
                    <option value="" selected></option>
                    {% for department in departments %}
                    {% if not department.0 == '' %}
                        {% if action.type == department.0 %}
                        <option value="{{department.0}}" selected >{{department.0}}</option>
                        {% else %}
                        <option value="{{department.0}}">{{department.0}}</option>
                        {% endif%}
                    {% endif %}
                    {% endfor %}
                </select>
            </label>
            <label>Action created by: {{action.created_by.first_name}} {{action.created_by.last_name}}</label>
        </div>
    
        <div class="section"><span>2</span>Savings</div>
        <div class="inner-wrap">
            <label>One-timer
                <div id="one-timer" class="one-timer" style="cursor: pointer; display: inline-block" onclick="onetimer()"><i class="far fa-square"></i></div>
            </label>
            <input type="hidden" id="oneTimer" name="one_timer">
            <label>Savings start<input type="date" id="savingsStart" name="savings_start" value="{{action.savings_start|date:"Y-m-d"}}" onchange="calculateSums('savingsStart')" required /></label>
            <label>Savings end<input type="date" id="savingsEnd" name="savings_till" onchange="calculateSums('savingsEnd')" value="{{action.savings_till|date:"Y-m-d"}}" /></label>
            <label>Annual savings ({{currency}})<input type="text" id="savingsPerYear" name="savings_per_year" onkeyup="this.value=addSpaces(this.value)" value="{{action.savings_per_year|floatformat:"0"|default_if_none:""}}" onchange="calculateSums('savingsPerYear')" onfocusout="calculateSums('savingsPerYear')"/></label>
            <label>Savings in 2020 ({{currency}})<input type="text" id="savingsActualYear" name="savings_actual_year" onkeyup="this.value=addSpaces(this.value)" value="{{action.savings_actual_year|floatformat:"0"}}" onchange="calculateSums('savingsActualYear')" /></label>
            <label><a href="#" style="cursor:crosshair"><img src="{% static 'doi_legend.png' %}" alt=""/>DoI</a>
            <select id="doi" name="doi">
                <option value="1" {% if action.doi == 1 %} selected {% endif %}>1 - Idea is generated</option>
                <option value="2" {% if action.doi == 2 %} selected {% endif %}>2 - Idea is assessed</option>
                <option value="3" {% if action.doi == 3 %} selected {% endif %}>3 - Project is agreed</option>
                <option value="4" {% if action.doi == 4 %} selected {% endif %}>4 - Project is implemented</option>
                <option value="5" {% if action.doi == 5 %} selected {% endif %}>5 - Financial impacts are fully realized</option>
            </select>
            </label>
        </div>


        <div class="section"><span>3</span>Comments</div>
            <div class="inner-wrap">
                <textarea name="comments" form="covcap-form" style="max-width: 100%;">{{action.comments|default_if_none:""}}</textarea>
            </div>

        <div class="button-section">
         <input type="submit" name="Edit action" value="Edit action"/>
        </div>
    </form>
    </div>
    {% endif %}

    <script>
        var lastDay = document.getElementById("savingsEnd")
        var startDay = document.getElementById("savingsStart")
        var AnnualSavings = document.getElementById("savingsPerYear")
        var SavingsActualYear = document.getElementById("savingsActualYear")
        var months
        var finalDay = new Date(2020,11,31)
        var onetimerchecked = false
    
        </script>
    
        <script>
            function calculateSums(whatChanged) {
                switch(whatChanged) {
                    case 'savingsStart':
                        if (startDay.value) {
                            startDayVal = new Date(startDay.value);
                            if (lastDay.value) {
                                lastDayVal = new Date(lastDay.value);
                                if (lastDayVal >= finalDay) {
                                lastDayVal = new Date(2020, 11, 31);
                            }
                                calculateSavings(startDayVal, lastDayVal)
                            } else {
                                lastDayVal = new Date(2020, 11, 31);
                                calculateSavings(startDayVal, lastDayVal)
                            }
                        }
                        break;
                    case 'savingsEnd':
                        if (startDay.value) {
                            startDayVal = new Date(startDay.value);
                            if (lastDay.value) {
                                lastDayVal = new Date(lastDay.value);
                                if (lastDayVal >= finalDay) {
                                lastDayVal = new Date(2020, 11, 31);
                            }
                                calculateSavings(startDayVal, lastDayVal)
                            } else {
                                lastDayVal = new Date(2020, 11, 31);
                                calculateSavings(startDayVal, lastDayVal)
                            }
                        } 
                        break;
                    case 'savingsPerYear':
                        if (startDay.value) {
                            startDayVal = new Date(startDay.value);
                            if (lastDay.value) {
                                lastDayVal = new Date(lastDay.value);
                                if (lastDayVal >= finalDay) {
                                lastDayVal = new Date(2020, 11, 31);
                            }
                                calculateSavings(startDayVal, lastDayVal)
                            } else {
                                lastDayVal = new Date(2020, 11, 31);
                                calculateSavings(startDayVal, lastDayVal)
                            }
                        } 
                        break;
                    case 'savingsActualYear':
                        if (startDay.value) {
                            startDayVal = new Date(startDay.value);
                            if (lastDay.value) {
                                lastDayVal = new Date(lastDay.value);
                                if (lastDayVal >= finalDay) {
                                lastDayVal = new Date(2020, 11, 31);
                            }
                                otherCalculation(startDayVal, lastDayVal)
                            } else {
                                lastDayVal = new Date(2020, 11, 31);
                                otherCalculation(startDayVal, lastDayVal)
                            }
                        } 
                        break;
                }
            };
    
           function calculateSavings(startDayVal, lastDayVal) {
                months = ((lastDayVal.getFullYear() - startDayVal.getFullYear()) * 12) + 1 - startDayVal.getMonth() + lastDayVal.getMonth()
                coef_eoy = months / 12;
                if (AnnualSavings.value) {
                    SavingsActualYear.value = addSpaces(Math.round(Number(AnnualSavings.value.split(" ").join("")) * coef_eoy));
                } else if (SavingsActualYear.value && !AnnualSavings.value) {
                    AnnualSavings.value = addSpaces(Math.round(Number(SavingsActualYear.value.split(" ").join("")) / coef_eoy));
                }};
    
            function otherCalculation(startDayVal, lastDayVal) {
                months = ((lastDayVal.getFullYear() - startDayVal.getFullYear()) * 12) + 1 - startDayVal.getMonth() + lastDayVal.getMonth()
                coef_eoy = months / 12;
                AnnualSavings.value = addSpaces(Math.round(Number(SavingsActualYear.value.split(" ").join("")) / coef_eoy));
                };
    
           function addSpaces(nStr) {
                nStr += '';
                var space = / /g;
                nStr = nStr.replace(space,'');
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ' ' + '$2');
                }
                return x1 + x2;
        };
    
       </script>
    
    <script>
    
        window.onload = initAddSpaces;
        function initAddSpaces() {
        document.getElementById("savingsPerYear").value = addSpaces(document.getElementById("savingsPerYear").value);
        document.getElementById("savingsActualYear").value = addSpaces(document.getElementById("savingsActualYear").value);
        }

    </script>

    <script>
        document.addEventListener('keydown', function (event) {
        if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
            var form = event.target.form;
            var index = Array.prototype.indexOf.call(form, event.target);
            form.elements[index + 1].focus();
            event.preventDefault();
        }
        });
        
        window.onunload = refreshParent;
        function refreshParent() {
            window.opener.location.reload();
        }
    </script>

<script>
    function onetimer() {
        if (onetimerchecked == false) {
            document.getElementById('one-timer').firstElementChild.classList.remove('fa-square');
            document.getElementById('one-timer').firstElementChild.classList.add('fa-check-square');
            document.getElementById('savingsPerYear').style.display = "none";
            document.getElementById('savingsPerYear').parentElement.style.display = "none";
            document.getElementById('oneTimer').value = "True";

            onetimerchecked = true;
        } else {
            document.getElementById('one-timer').firstElementChild.classList.add('fa-square');
            document.getElementById('one-timer').firstElementChild.classList.remove('fa-check-square');
            document.getElementById('savingsEnd').style.display = "";
            document.getElementById('savingsEnd').parentElement.style.display = "";
            document.getElementById('savingsPerYear').style.display = "";
            document.getElementById('savingsPerYear').parentElement.style.display = "";
            document.getElementById('oneTimer').value = "False";
            onetimerchecked = false;
        }
    }

    function onetimeredits() {
        if (onetimerchecked == true) {
            if (lastDay.value) {
                calculateSavings(new Date(startDay.value), new Date(lastDay.value))
            } else {
                calculateSavings(new Date(startDay.value), new Date(2020,11,31))
            }
        }
    }

    {% if action.one_timer %}
        onetimer()
    {% endif %}
</script>


    

{% endblock %}

